<article class="articlecontent">
  <h2>Game Data</h2>
  <p>
    <ul>
	  <li><%= link_to 'Breeds', admin_breeds_path %></li>
	  <li><%= link_to 'Levels', admin_levels_path %></li>
	  <li>Humans</li>
	  <li>Sentients</li>
	  <li>Occupations</li>
    <ul>
  </p>
</article>