<% content_for :page_title do %><h2>Befriend Your Pet</h2><% end %>
	
<div class="box full em">
  <p>Befriending a pet is easy, just: <ol><li>choose a breed, and</li><li>type your pet's name.</li></ol></p> 
  <p>Your pet starts with the archetypal abilities, strengths, and weaknesses of their breed, but they'll quickly grow as you customize them through further play.</p>
</div>	