<% content_for :page_title do %><h2><%= @pet.name %>'s Profile</h2><% end %>

<div class="sidebox slim right">
  <%= render_bio_box(@pet) %>
</div>

stats/pic/bio
messages
signs
activity stream (scavenged items, leaderboard ranking, human murder, etc, shop purchases)
fb friends
new challenges
resolved challenges
occupation box