/* reset */
* {
margin: 0;
padding: 0;
}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
display: block;
}

body {
line-height: 1;
background-color: #D4960F;
font-family:  Arial, Helvetica, sans-serif;
color: #333;
font-size: 14px;
line-height: 18px;
}

/* basics */

h1,h2,h3,h4,h5,h6 {
font-weight: bold;
clear: both;
color: #333;
padding-top: 5px;
}

h1 a, h2 a, h3 a {
	text-decoration: none;
	font-style: italic;
}

a:link, a:visited {
color:#6D9D30;
}

a:hover, a:active {
color: #333;
}

p {
margin-top: 10px;
margin-bottom: 18px;
}

li {
padding-left: 5px;
}

/* layout */

#wrapper {
width: 950px;
margin: 0 auto;
margin-top: 5px;
margin-bottom: 5px;
}

header {
width: 940px;
height: 250px;
margin: 0 auto;
background: #fff ;/*url(images/header.png) no-repeat right top;*/

/* curved border radius */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

/* nav */

nav .menu {
font-size: 14px;
font-weight: bold;
}

nav .menu ul {
margin: 0;
padding: 17px 0 0 20px;
list-style: none;
line-height: normal;
}

nav .menu li {
display: block;
float: left;
}

nav .menu a {
display: block;
float: left;
margin-right: 5px;
padding: 0px 15px;
text-decoration: none;
color: #FFF;
}

nav .menu a:hover {
font-style: italic;
}