/* layout */

h2 {
  font-size: 15px;
  margin: 5px 0 10px 0;	
}

tr {
  vertical-align: top;	
}

#contents { 
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 
  font-size:11px; 
  color: #333333; 
}

#beta {
  font-size:10px;
  font-style:italic;	
}

#hooks {
  margin-bottom:10px;
  width:100%;
}
#hooks div {
  margin:0 10px 0 0;
  text-align: right;
  width:250px;
}

#contents .box { 
  background:#F7F7F7 none repeat scroll 0 0; 
  border:1px solid #BDC7D8; 
  margin-bottom: 15px;
  padding:5px; 
  width: 475px; 
}

#contents .sidebox {
  border:1px solid #BDC7D8;
  margin-right:15px	
}

.info h4 { 
  margin-bottom:10px; 
  padding:5px 0 0 5px; 
  font-size:13px; 
}

.info ul { 
  color:#3B5998; 
  padding:0 10px 5px; 
} 

.info li { 
  font-weight:bold; 
  list-style-image:none; 
  list-style-position:inside; 
  list-style-type:square; 
  padding:0 0 5px; 
} 

.info .description { 
  color:#444444; 
  font-weight:normal; 
  padding:3px 0 0 15px; 
} 

.breaker {clear:both;display:block;margin-bottom:10px;}
.hidden {display:none;}
.right {float:right;}
.left {float:left;}
.em {font-style:italic;}
.strong {float-weight:bold;}

/* controls */

td.radio-cell {
  cursor:pointer;
  padding-top:35px;
  width:55px;
}

td.radio-cell .input {
  color: #666666;
  cursor:pointer;
  display: block;
  filter:alpha(opacity=01);
  float: left;
  font-size: 12px;
  height: 16px;
  opacity:0.01;
  outline: none;
  padding: 1px 0px 0px 20px;
  text-decoration: none;
  width: 40px;
}

td.radio-cell .input:hover {
  color:#0066FF;
  text-decoration: underline;
}

/* icons */

.new-message, .read-message, .deleted-message {
  height: 20px;
  width: 20px;	
}


/* spacing */

.full { width: 740px !important;}
.slim { margin-right:15px; width: 250px !important;}
.half { width: 360px !important;}
