<h4>Markdown</h4>	
<p class="em">Markdown is a
plain text syntax that allows you to write using an easy-to-read, easy-to-write plain text format. You can use markdown to 
make things like your forum posts, messages, and writings about your pet more readable. Here are some examples:</p>
<ul>
  <li>Emphasis: _These words_ were emphasized.</li>
  <li>Strong Emphasis: **These words** were made strong.</li>
  <li>Links: [this word](http://example.com/) was made into a link</li>
  <li>Headers: <br /># biggest header<br />## big header<br />### medium header<br />#### small header</li>
  <li>Lists: <br />- this<br />- and this<br />...were listed.</li>
</ul>
<%= link_to 'Read about the full syntax here', 'http://daringfireball.net/projects/markdown/syntax', :target=> "__blank" %>.