<h2>About <%=AppConfig.name%></h2>
<div class="box full">
  <h3>Gameplay</h3>
  <p><em>In the near future after the fall of humans, housepets rise to rule the new urban empire. Befriend one now and help them search for food, shelter, and fights, raising them to be the most powerful pet to ever draw claws.</em></p>
  <p>Battle other players using the elegant Undercut combat system. Find rival pets and challenge them, secretly choose your pet's actions for the battle, and then see who wins as the fight resolves by comparing pet strategies. Predict your enemy's strategy and *undercut* their actions to perform devastating counterattacks.</p>
  <p>As pets journey the land and battle they gain experience, unlock new tactical options, and can train to put the lessons of the battleground to use. When you're not battling other pets, help hunt mutants, feral beasts, and other monstrosities.</p>
  <p>Scavenge the world that humans left behind and find items to personalize your pet and make them stronger.</p>
  <p>Capture devolved human mongrels and use them as your helpers or slaves, commanding the
</div>