<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Battle Pet Network :: Administration</title>
  <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/admin.css">
  <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <div id="wrapper">
    <header>
	  <h1><a>Battle Pet Network :: Admin</a></h1>
	</header>
	
	<nav><!-- top nav -->
	  <div class="menu">
	    <ul>
		  <li><a href="#">Dashboard</a></li>
		  <li><a href="#">Data</a></li>
		  <li><a href="#">Users</a></li>
		</ul>
	  </div>
	</nav>	
    <%= yield %>
  </div>
</body>