<fb:fbml version="1.1">
  <%= facebook_stylesheet_link_tag "facebook" %>
  <%= facebook_javascript_tag "facebooker" %>

  <div id="contents">
	<p id="beta">
	  <strong>DEVELOPMENT WARNING:</strong> The Battle Pet Network is currently under furious development and, in the mad 
	  rush to version 1.0, the Facebook UI will undergo frequent changes, user data may be reset, and the game's stability 
	  will be at an all-time low. Enjoy!
	</p>
	
	<div id="header">
	</div>
	
	<div id="body">
    <%= yield %>
    </div>

    <div id="footer"></div>
  </div>
</fb:fbml>
